  body {
    background-color: #4E944F;
  }

  hr {
    background-color: white;
    border-style: none;
    height: 2px;
  }

  h1 {
    color: yellow;
  }

  h3 {
    color: purple;
    padding-left: 30px;
  }

  h4 {
    color: red;
  }

  p {
    padding-left: 50px;
    padding-right: 50px
  }

  ul {
    padding-left: 60px
  }

  td {
    padding-left: 40px;
  }

  .me {
    border-radius: 100%;
  }

  .navlink {
    padding-left: 20px;
  }
